.projects-page {
    background-image: url(../../../public/projectsBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    font-family: 'Indie Flower';
    color: rgba(0, 0, 0, 0.85);
}

.projects-pageB {
    background: transparent
}

.projects-page-h2 {
    margin-top: 6em;
}

.projects-pageB h2 {
    display: none;
}

.projects-pageB .projects-card {
    display: none;
}

.projects-pageB .create-project {
    display: none;
}

.projects-page h2 {
    font-size: 3em;
    padding-top: .5em;
    font-family: 'EB Garamond', serif;
    text-decoration: underline;
    text-decoration-thickness: 5%;
    text-underline-offset: 6px;
}

.projects-card {
    background: rgba(0, 0, 0, 0.2);
    width: 28%;
    padding: 20px;
    margin: 1em 2em;
    border-radius: 10px;
    transition: ease 0.3s;
}

.projects-card:hover {
    background: rgba(0, 0, 0, 0.55);
    color: rgba(255, 255, 255, 0.85);
}

.projects-card:hover .enter-project-button {
    background-color: rgba(255, 255, 255, 0.85);
}

.enter-project-button {
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.85) 4px 4px 0 0;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 17px;
    padding: 0 18px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.projects-card:hover .enter-project-button:hover {
    background-color: rgba(255, 255, 255, .95);
    color: rgba(0, 0, 0, 0.85);
}

.enter-project-button:active {
    box-shadow: rgba(0, 0, 0, 0.85) 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .enter-project-button {
        min-width: 80px;
        padding: 0 20px;
    }
}

.delete-button {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    left: 94%;
    top: -15%;
    background-color: rgb(255, 8, 0);
    color: rgba(255, 255, 255, 0.85);
    font-size: 10px;
    border-radius: 20px;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(.8);
}

.delete-button:hover {
    transform: scale(1);
    background-color: rgb(255, 8, 0);
    font-size: 11px;
}

.videoTag {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin-top: 4.4em;
}